/* reset v.0.003 beta :-) */

@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 400;
	src: url("../../data/font/icon.woff") format("woff");
}

/* START reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
header,aside{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
sup{vertical-align:text-top;}
a,label,button,input[type='button'],input[type='checkbox'],input[type='radio'],
input[type='image'],input[type='reset'],input[type='submit']{cursor:pointer;}
/* END reset */

/* START global */
html,body{min-height:100%;}
html{background:url("../../data/img/bg.jpg") repeat #efefef;}
body{
	color:#464646;
	font:100%/150% Ubuntu, Droid Sans, Tahoma, Verdana, Arial, sans-serif;
	width:90%;
	max-width: 400px;
	margin: 0 auto;
	height:100%;
}

* {
	transition: all .2s linear;
}
.global-zeroclipboard-container {
	transition: none;
}

a {
	color: #039;
	text-decoration: none;
}
a:hover {
	color: #19E;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {font-weight:normal;line-height:1.5em;text-align:center;margin: 2em 0 1em;}
h1{font-size:1.4em;line-height: 1.67em;margin: 0;padding: 1.2em 0;}
h2{font-size:1.3em;line-height: 1.873em;margin:1.9em 0 .9em;}
h3{font-size:1.2em;line-height: 2.145em;margin:2.11em 0 1.1em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:.8em;}

p {
	margin-top: 1.5em;
	text-align:justify;

	-moz-hyphens: auto;
	-khtml-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	-ms-hyphens: auto;	
	hyphens: auto;
}

table, tr, th, td {border: 1px solid #D6D6D6;}
table {margin: 10px 0;}
th {background-color: #F5F5F5;}
th, td {padding: 2px 10px;}

hr {
	border: 1px dashed #464646;
	border-width: 1px 0 0;

	margin-top: 1.5em;
	margin-top: -moz-calc(1.5em - 1px);
	margin-top: -khtml-calc(1.5em - 1px);
	margin-top: -webkit-calc(1.5em - 1px);
	margin-top: -o-calc(1.5em - 1px);
	margin-top: -ms-calc(1.5em - 1px);
	margin-top: calc(1.5em - 1px);
}

input {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 6px;
	background-color: rgba(255,255,255,.5);
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 1px 1px 5px -2px rgba(0,0,0,.5) inset;
	color: #464646;
	height: 29px;
}
input[type="checkbox"] {
	height: 21px;
	width: 21px;
}
label {
	font-size: 13px;
	display: block;
	padding: 15px 6px 0 6px;
}
input[type="checkbox"] + label {

}
/* END global */

body.error {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: rgb(128,0,0);
}

label input {
	float: right;
}
label input, #popup_page input {
	
}
label input.change {
	border: 1px solid rgba(128,0,0,.2);
	box-shadow: 1px 1px 5px -2px rgba(128,0,0,.5) inset;
}
label input.save {
	border: 1px solid rgba(0,128,0,.2);
	box-shadow: 1px 1px 5px -2px rgba(0,128,0,.5) inset;
}

.notice {
	position: absolute;
	top: 0;
}
#popup_page {
	height: 100%;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	width: 250px;
}
#popup_page form {
	padding: 30px 0;
	position: relative;
}
#popup_page button, #popup_page select {
	border: 1px solid rgba(0,0,0,.2);
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#dddddd 100%);
	background: linear-gradient(to bottom, #f5f5f5 0%,#dddddd 100%);
	color: #464646;
	display: inline-block;
	padding: 3px 6px;
	height: 29px;
}
#popup_page button:hover {
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #dddddd 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #dddddd 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom, #dddddd 0%,#f5f5f5 100%);
}
#popup_page p {
	flex-direction: column;
}
#pswd {
	position: relative;
}
#password {
	width: 154px;
}
.pbtn {
	padding: 20px 0 0;
}
.pbtn li {
	width: 36px;
	height: 36px;
	border: 1px dashed #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	list-style:none;
	display: inline-block;
	cursor: pointer;
	margin-right: 12px;
	opacity: .75;
	position: relative;
}
li::before {
	font-family: "icon";
	display: block;
	width: 36px;
	height: 36px;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
}
[data-show="filters"]::before {
	content: "\EA02";
}
[data-show="anon"]::before {
	content: "\EA01";
}
[data-show="showpass"]::before {
	content: "\EA05";
}
#copy::before {
	content: "\EA03";
}
#copy::after {
	font-family: "icon";
	content: "\EA04";
	display: block;
	position: absolute;
	border-radius: 100%;
	color: #fff;
	background-color: #1C1;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	opacity: 0;
}
#copy.ok::after{
	bottom: -4px;
	right: -4px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	opacity: 1;
	-webkit-animation:	ok_animation .5s 1;
	-moz-animation:		ok_animation .5s 1;
	animation:			ok_animation .5s 1;
}
@-webkit-keyframes ok_animation {
	0% {
		bottom: 10px;
		right: 10px;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		opacity: 0;
	}
	100% {
		bottom: -4px;
		right: -4px;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		opacity: 1;
	}
}
@-moz-keyframes ok_animation {
	0% {
		bottom: 10px;
		right: 10px;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		opacity: 0;
	}
	100% {
		bottom: -4px;
		right: -4px;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		opacity: 1;
	}
}
@keyframes ok_animation {
	0% {
		bottom: 10px;
		right: 10px;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		opacity: 0;
	}
	100% {
		bottom: -4px;
		right: -4px;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		opacity: 1;
	}
}
.pbtn li.active, #copy.ok {
	border: 1px solid #666;
	opacity: 1;
	color: #666;
}
.pbtn li:hover {
	border-color: #19E;
	opacity: 1;
	color: #19E;
}
.pbtn li span {
	display: none;
}
.pbtn li:last-of-type {
	margin-right: 0;
}

#filters legend {
	text-align: center;
	font-weight: bold;
	margin: 0 0 10px 0;
	cursor: pointer;
}
#filters legend:hover {
	color: #039;
}
form input[type="checkbox"] {
	float: left;
	margin: 17px 8px 0 2px;
}
#login, [for="login"]{
	display: none;
}

#passshow {
	display:none;
}
#passshow + label {
	opacity: .5;
	position: absolute;
	bottom: 0;
	left: 124px;
	padding: 0;
	transition: opacity 0.2s
}
#passshow + label::before {
	content: "\EA05";
	font-family: "icon";
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
}
#passshow + label:hover {
	color: #19E;
}
#passshow:checked + label {
	opacity: 1;
}

.error {
	color: #E11;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	margin-top: 15px;
}

.hide {
	display: none;
}

#passshow + label {
	right: 0;
	left: auto;
}
#popup_page button {
	display: none;
}
#password {
    width: 100%;
}
